.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formH{
  font-weight: lighter;
  font-size: xx-large;
}
.textS{
  font-weight: 300;
  font-size: xx-large;
}
#myBox{
  resize:none;
  /* overflow-x: hidden;
  overflow-y: scroll;  */
}
.form-check-input:checked{
  border: none;
}
.form-check-input:focus{
  box-shadow: none;
  border: none;
}
.form-control:focus{
  transition: none;
  box-shadow: none;
  }
  .accordion{
    transition: none;
    box-shadow: none;
    --bs-accordion-btn-focus-box-shadow:none;
  }
.nav-link:hover{
  font-weight: bolder;
}



 

 
  